body {
    background: red;
    display: flex;
    justify-items: center;
    animation: move 2s;
}

@keyframes move{
    from {
        background: red;
    }
    to {
        background: green;
    }
}
