@import '~common/style/base.styl';

body
    background yellow
.wechat
    display: block
    width: 50px
.test1
    background: url('./img/login-wechat.png') no-repeat

.test2
    background: url('./img/timg-3.jpg') no-repeat